#
# this file is meant to be sourced to the shell. It can be used to:
# - define aliases
# - setup bash completions
# - say hello on stderr etc.

[ -z "${BUILDBOX_HOME}" ] && BUILDBOX_HOME=$HOME/.buildbox
echo ":$PATH:" | grep -q ":$BUILDBOX_HOME/bin:" || export PATH=$BUILDBOX_HOME/bin:$PATH

#echo "Releasator is configured here - type 'releasator' with params" >&2
